# hotel review project

In [19]:
import os 
import pandas as pd
import numpy as np

#  data preprocessing coding

In [20]:
os.getcwd()

'c:\\pc contents\\courses\\machine learning\\mid project\\delivered data'

In [21]:
os.chdir('C:\\pc contents\\courses\\machine learning\\mid project\\delivered data')

In [22]:
df=pd.read_csv('Hotel_Reviews.csv')
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [24]:
df.columns = df.columns.str.lower()

In [25]:
df.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

### review_data column

In [26]:
df['review_date'].unique()

array(['8/3/2017', '7/31/2017', '7/24/2017', '7/17/2017', '7/9/2017',
       '7/8/2017', '7/7/2017', '7/6/2017', '7/4/2017', '7/3/2017',
       '6/30/2017', '6/29/2017', '6/20/2017', '6/19/2017', '6/12/2017',
       '6/10/2017', '5/29/2017', '5/27/2017', '5/25/2017', '5/22/2017',
       '5/21/2017', '5/16/2017', '5/11/2017', '5/9/2017', '5/2/2017',
       '4/27/2017', '4/26/2017', '4/20/2017', '4/19/2017', '4/18/2017',
       '4/16/2017', '4/14/2017', '4/10/2017', '4/5/2017', '3/29/2017',
       '3/22/2017', '3/20/2017', '3/19/2017', '3/18/2017', '3/16/2017',
       '3/6/2017', '2/20/2017', '2/17/2017', '2/14/2017', '2/9/2017',
       '2/6/2017', '1/29/2017', '1/27/2017', '1/25/2017', '1/19/2017',
       '1/8/2017', '12/29/2016', '12/28/2016', '12/21/2016', '12/20/2016',
       '12/19/2016', '12/15/2016', '12/14/2016', '12/13/2016',
       '12/12/2016', '12/11/2016', '12/10/2016', '12/7/2016',
       '11/15/2016', '11/7/2016', '11/6/2016', '11/2/2016', '10/31/2016',
       '10/30/2016', '10/26/2016', '10/25/2016', '10/24/2016',
       '10/13/2016', '10/12/2016', '10/11/2016', '10/6/2016', '10/4/2016',
       '9/27/2016', '9/19/2016', '9/18/2016', '9/12/2016', '9/9/2016',
       '8/31/2016', '8/13/2016', '7/30/2016', '7/27/2016', '7/26/2016',
       '7/20/2016', '7/17/2016', '7/14/2016', '7/9/2016', '7/5/2016',
       '7/2/2016', '6/29/2016', '6/27/2016', '6/17/2016', '6/16/2016',
       '6/5/2016', '6/1/2016', '5/28/2016', '5/22/2016', '5/17/2016',
       '5/7/2016', '5/3/2016', '5/1/2016', '4/26/2016', '4/24/2016',
       '4/23/2016', '4/22/2016', '4/19/2016', '4/17/2016', '4/12/2016',
       '4/7/2016', '4/5/2016', '3/29/2016', '3/23/2016', '3/20/2016',
       '3/17/2016', '3/16/2016', '3/15/2016', '3/12/2016', '3/2/2016',
       '3/1/2016', '2/29/2016', '2/20/2016', '2/16/2016', '2/15/2016',
       '2/10/2016', '2/9/2016', '2/8/2016', '2/7/2016', '2/4/2016',
       '2/3/2016', '2/2/2016', '2/1/2016', '1/26/2016', '1/23/2016',
       '1/19/2016', '1/15/2016', '1/12/2016', '1/5/2016', '1/3/2016',
       '1/2/2016', '12/31/2015', '12/26/2015', '12/22/2015', '12/15/2015',
       '12/13/2015', '12/8/2015', '12/3/2015', '11/29/2015', '11/24/2015',
       '11/17/2015', '11/15/2015', '11/14/2015', '11/11/2015',
       '11/10/2015', '11/6/2015', '11/3/2015', '11/1/2015', '10/30/2015',
       '10/29/2015', '10/26/2015', '10/25/2015', '10/23/2015',
       '10/22/2015', '10/21/2015', '10/19/2015', '10/18/2015',
       '10/17/2015', '10/14/2015', '10/4/2015', '9/30/2015', '9/29/2015',
       '9/28/2015', '9/26/2015', '9/25/2015', '9/20/2015', '9/18/2015',
       '9/12/2015', '9/11/2015', '9/7/2015', '9/5/2015', '9/3/2015',
       '9/1/2015', '8/30/2015', '8/27/2015', '8/26/2015', '8/25/2015',
       '8/20/2015', '8/18/2015', '8/14/2015', '8/11/2015', '8/6/2015',
       '8/4/2015', '7/22/2017', '7/19/2017', '7/12/2017', '7/10/2017',
       '6/25/2017', '6/24/2017', '6/17/2017', '6/13/2017', '6/5/2017',
       '5/15/2017', '5/4/2017', '5/3/2017', '5/1/2017', '4/28/2017',
       '4/24/2017', '4/11/2017', '4/4/2017', '3/13/2017', '3/10/2017',
       '3/7/2017', '3/4/2017', '2/15/2017', '2/13/2017', '2/8/2017',
       '2/5/2017', '2/3/2017', '2/2/2017', '1/30/2017', '1/24/2017',
       '1/22/2017', '1/21/2017', '1/4/2017', '1/3/2017', '12/27/2016',
       '12/6/2016', '11/28/2016', '11/27/2016', '10/19/2016',
       '10/18/2016', '10/3/2016', '8/28/2016', '8/27/2016', '8/26/2016',
       '8/14/2016', '8/9/2016', '8/8/2016', '8/7/2016', '8/2/2016',
       '7/29/2016', '7/23/2016', '7/19/2016', '7/7/2016', '6/26/2016',
       '6/4/2016', '6/3/2016', '5/30/2016', '5/29/2016', '5/21/2016',
       '5/19/2016', '5/13/2016', '4/30/2016', '4/25/2016', '4/14/2016',
       '4/10/2016', '3/31/2016', '3/27/2016', '3/26/2016', '3/13/2016',
       '3/8/2016', '3/3/2016', '2/27/2016', '2/25/2016', '2/22/2016',
       '1/22/2016', '1/16/2016', '1/11/2016', '1/8/2016', '12/30/2015',
       '12/14/2015', '12/10/2015', '11/26/2015', '11/21/2015',
       '11/19/2015', '11/12/2015', '10/28/2015', '10/27/2015',
       '10/20/2015', '10/13/2015', '10/5/2015', '10/2/2015', '10/1/2015',
       '9/19/2015', '9/16/2015', '9/15/2015', '9/9/2015', '9/6/2015',
       '9/4/2015', '8/23/2015', '8/22/2015', '8/17/2015', '8/16/2015',
       '8/9/2015', '8/2/2017', '7/20/2017', '7/18/2017', '6/27/2017',
       '6/23/2017', '6/11/2017', '6/7/2017', '5/31/2017', '5/26/2017',
       '5/13/2017', '5/5/2017', '4/23/2017', '4/9/2017', '3/31/2017',
       '3/27/2017', '3/26/2017', '3/11/2017', '3/9/2017', '3/8/2017',
       '3/2/2017', '2/28/2017', '2/19/2017', '2/12/2017', '2/10/2017',
       '2/4/2017', '1/23/2017', '1/18/2017', '1/16/2017', '1/15/2017',
       '1/13/2017', '1/9/2017', '12/30/2016', '12/26/2016', '12/22/2016',
       '12/18/2016', '12/16/2016', '12/8/2016', '12/3/2016', '12/2/2016',
       '11/23/2016', '11/16/2016', '11/14/2016', '11/13/2016',
       '11/12/2016', '11/8/2016', '11/5/2016', '11/3/2016', '10/23/2016',
       '10/22/2016', '10/21/2016', '10/16/2016', '10/15/2016',
       '10/8/2016', '9/29/2016', '9/28/2016', '9/25/2016', '9/4/2016',
       '8/25/2016', '8/23/2016', '8/18/2016', '8/16/2016', '8/4/2016',
       '8/3/2016', '6/28/2016', '6/21/2016', '6/14/2016', '6/11/2016',
       '6/10/2016', '6/6/2016', '5/20/2016', '5/18/2016', '5/16/2016',
       '5/11/2016', '5/6/2016', '4/29/2016', '4/27/2016', '4/21/2016',
       '4/18/2016', '4/9/2016', '4/8/2016', '4/3/2016', '4/1/2016',
       '3/28/2016', '3/24/2016', '3/22/2016', '3/21/2016', '3/18/2016',
       '3/9/2016', '3/7/2016', '3/5/2016', '3/4/2016', '2/28/2016',
       '2/24/2016', '2/23/2016', '2/21/2016', '2/18/2016', '2/13/2016',
       '2/12/2016', '2/11/2016', '2/5/2016', '1/31/2016', '1/24/2016',
       '1/21/2016', '1/18/2016', '1/10/2016', '12/29/2015', '12/27/2015',
       '12/25/2015', '12/24/2015', '12/18/2015', '12/16/2015',
       '12/1/2015', '11/28/2015', '11/27/2015', '11/7/2015', '10/24/2015',
       '10/8/2015', '8/1/2017', '7/26/2017', '7/16/2017', '6/18/2017',
       '5/23/2017', '5/10/2017', '4/25/2017', '3/12/2017', '2/21/2017',
       '2/18/2017', '2/16/2017', '2/11/2017', '1/26/2017', '1/17/2017',
       '1/12/2017', '1/10/2017', '11/30/2016', '11/29/2016', '11/22/2016',
       '11/10/2016', '11/4/2016', '10/28/2016', '10/5/2016', '10/2/2016',
       '9/26/2016', '9/24/2016', '9/16/2016', '9/3/2016', '9/1/2016',
       '8/24/2016', '8/22/2016', '8/21/2016', '8/20/2016', '8/19/2016',
       '8/11/2016', '8/1/2016', '7/12/2016', '7/10/2016', '7/8/2016',
       '7/3/2016', '6/22/2016', '6/20/2016', '6/7/2016', '5/31/2016',
       '5/27/2016', '5/26/2016', '5/25/2016', '5/14/2016', '5/12/2016',
       '5/9/2016', '4/4/2016', '4/2/2016', '3/25/2016', '3/19/2016',
       '3/14/2016', '3/11/2016', '3/10/2016', '3/6/2016', '2/26/2016',
       '2/19/2016', '2/17/2016', '2/14/2016', '2/6/2016', '1/30/2016',
       '1/17/2016', '1/14/2016', '1/7/2016', '12/17/2015', '12/12/2015',
       '12/7/2015', '12/2/2015', '10/12/2015', '10/11/2015', '10/9/2015',
       '10/6/2015', '10/3/2015', '9/27/2015', '9/22/2015', '9/17/2015',
       '7/5/2017', '7/1/2017', '6/14/2017', '5/17/2017', '5/14/2017',
       '4/21/2017', '3/5/2017', '3/1/2017', '2/27/2017', '2/24/2017',
       '2/7/2017', '12/31/2016', '12/25/2016', '12/24/2016', '12/23/2016',
       '12/5/2016', '12/4/2016', '12/1/2016', '11/24/2016', '11/1/2016',
       '10/29/2016', '10/14/2016', '10/10/2016', '10/9/2016', '10/1/2016',
       '9/30/2016', '9/23/2016', '9/15/2016', '9/10/2016', '9/6/2016',
       '8/30/2016', '8/5/2016', '7/28/2016', '7/25/2016', '7/22/2016',
       '7/13/2016', '7/6/2016', '7/1/2016', '6/15/2016', '6/12/2016',
       '6/9/2016', '5/24/2016', '5/15/2016', '5/4/2016', '5/2/2016',
       '4/20/2016', '4/16/2016', '4/6/2016', '1/28/2016', '1/27/2016',
       '1/13/2016', '1/4/2016', '1/1/2016', '12/28/2015', '12/21/2015',
       '12/19/2015', '12/9/2015', '12/6/2015', '11/30/2015', '11/20/2015',
       '11/8/2015', '11/5/2015', '11/2/2015', '10/31/2015', '9/23/2015',
       '9/10/2015', '9/8/2015', '8/21/2015', '8/15/2015', '8/13/2015',
       '8/7/2015', '7/11/2017', '6/4/2017', '6/1/2017', '5/30/2017',
       '5/24/2017', '5/8/2017', '5/7/2017', '4/30/2017', '4/7/2017',
       '4/1/2017', '3/28/2017', '3/23/2017', '3/21/2017', '3/17/2017',
       '3/14/2017', '2/23/2017', '1/31/2017', '1/11/2017', '1/7/2017',
       '1/6/2017', '1/2/2017', '1/1/2017', '12/9/2016', '11/21/2016',
       '11/20/2016', '11/18/2016', '11/11/2016', '11/9/2016',
       '10/17/2016', '9/20/2016', '9/13/2016', '9/2/2016', '8/17/2016',
       '8/12/2016', '8/6/2016', '7/18/2016', '7/16/2016', '7/11/2016',
       '7/4/2016', '6/23/2016', '6/19/2016', '6/2/2016', '5/10/2016',
       '5/8/2016', '4/11/2016', '3/30/2016', '1/29/2016', '1/20/2016',
       '1/9/2016', '12/23/2015', '12/20/2015', '11/25/2015', '11/23/2015',
       '11/22/2015', '11/18/2015', '10/15/2015', '9/21/2015', '9/2/2015',
       '8/29/2015', '7/14/2017', '7/2/2017', '6/28/2017', '6/22/2017',
       '6/21/2017', '6/16/2017', '6/15/2017', '6/9/2017', '6/8/2017',
       '6/6/2017', '5/28/2017', '5/19/2017', '4/17/2017', '4/15/2017',
       '4/13/2017', '4/12/2017', '4/8/2017', '4/6/2017', '4/2/2017',
       '3/30/2017', '3/25/2017', '3/24/2017', '3/15/2017', '2/22/2017',
       '2/1/2017', '1/28/2017', '1/14/2017', '12/17/2016', '11/26/2016',
       '11/25/2016', '11/19/2016', '10/27/2016', '9/22/2016', '9/11/2016',
       '9/8/2016', '9/5/2016', '8/29/2016', '8/15/2016', '8/10/2016',
       '7/24/2016', '7/21/2016', '6/30/2016', '6/25/2016', '6/24/2016',
       '5/23/2016', '4/28/2016', '1/25/2016', '12/11/2015', '11/16/2015',
       '11/4/2015', '10/16/2015', '9/24/2015', '9/13/2015', '8/28/2015',
       '8/24/2015', '8/12/2015', '8/10/2015', '8/8/2015', '7/30/2017',
       '7/13/2017', '6/26/2017', '6/2/2017', '4/22/2017', '3/3/2017',
       '2/25/2017', '1/20/2017', '11/17/2016', '10/20/2016', '9/17/2016',
       '9/7/2016', '7/31/2016', '7/15/2016', '5/5/2016', '4/15/2016',
       '1/6/2016', '12/5/2015', '10/7/2015', '8/19/2015', '8/5/2015',
       '6/18/2016', '6/8/2016', '12/4/2015', '11/13/2015', '10/10/2015',
       '9/14/2015', '8/31/2015', '4/13/2016', '11/9/2015', '7/29/2017',
       '7/25/2017', '7/21/2017', '5/20/2017', '5/18/2017', '5/6/2017',
       '4/3/2017', '2/26/2017', '10/7/2016', '6/13/2016', '6/3/2017',
       '1/5/2017', '9/21/2016', '9/14/2016', '5/12/2017', '7/28/2017',
       '7/23/2017', '7/27/2017', '4/29/2017', '7/15/2017'], dtype=object)

In [27]:
df['review_date'] = pd.to_datetime(df['review_date'])

In [28]:
df['review_year'] = df['review_date'].dt.year

In [29]:
df['review_month'] = df['review_date'].dt.month_name()

In [30]:
df['review_month'].unique()

array(['August', 'July', 'June', 'May', 'April', 'March', 'February',
       'January', 'December', 'November', 'October', 'September'],
      dtype=object)

In [31]:
def get_season(month):
    if month in ['December','January' , 'February']:
        return "Winter"
    elif month in ['March', 'April', 'May']:
        return "Spring"
    elif month in ['June', 'July', 'August']:
        return "Summer"
    elif month in ['September', 'October', 'November']:
        return "Autumn"

In [32]:
df['review_season'] = df['review_month'].apply(get_season)

In [33]:
df.drop('review_date' , axis=1, inplace=True)

### days_since_review column

In [34]:
df.drop('days_since_review' , axis=1 , inplace=True)

In [35]:
df.head()

,hotel_address,additional_number_of_scoring,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,lat,lng,review_year,review_month,review_season
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968,2017,August,Summer
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968,2017,August,Summer
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",52.360576,4.915968,2017,July,Summer
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",52.360576,4.915968,2017,July,Summer
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",52.360576,4.915968,2017,July,Summer

### tags column

In [36]:
# الفكره كلها اني افصل السفريات الي كانت فرديه عن العائليه عن الكابلز و في نفس الوقت افصل البيزنس عن الاستجمام عشان اقدر استخدمهم بعد كده في التحليل

In [37]:
df['tags'] = df['tags'].apply(
    lambda x: [str(item.strip().strip("'").strip('"')) for item in x.strip("[]").split(",")])

In [38]:
search_values = [' Leisure trip ', ' Business trip ']

df['reviewer_trip_type'] = df['tags'].apply(
    lambda x: ', '.join([item for item in x if item in search_values]) or np.nan )

In [39]:
df['reviewer_trip_type'].unique()

array([' Leisure trip ', ' Business trip ', nan], dtype=object)

In [40]:
df['reviewer_trip_type'].isna().sum()

# النسبه متزيدش عن 3% فممكن ننضفها و نستخدمها في التحليل  و بناء عليه انا هخلي ال nan  حاجه تانيه تحمل نفس تعبير ال nan  بس متأثرش في التحليل لكون النسبه بيطه جدا

np.int64(15021)

In [41]:
#df['reviewer_trip_type'].mode()

In [42]:

#df['reviewer_trip_type'].value_counts()

In [43]:
#df['reviewer_trip_type'] = df['reviewer_trip_type'].fillna(' Leisure trip ')

In [44]:
df['reviewer_trip_type'].value_counts() 
#   بس نتيجه لطبيعه العمود نفسه فممكن جدا شخص يحجز و يكون الرحله ليها الطابعين عشان كده محددش فممكن نخليها undefined  و بالطريقه دي متأثرش علي التحليل خصوصا ان نسبتها بسيطه بالطريقه دي

reviewer_trip_type
Leisure trip      417778
Business trip      82939
Name: count, dtype: int64

In [45]:
df['reviewer_trip_type'] = df['reviewer_trip_type'].fillna(' undefined trip ')

In [46]:
df['reviewer_trip_type'].value_counts()

reviewer_trip_type
Leisure trip       417778
Business trip       82939
undefined trip      15021
Name: count, dtype: int64

In [47]:
search_values1 = [' Couple ', ' Solo traveler ', ' Group ' , ' Family with young children ' , ' Family with older children ' , ' Travelers with friends ' ]

df['travelers_type'] = df['tags'].apply(
    lambda x: ', '.join([item for item in x if item in search_values1]) or np.nan)

In [48]:
df['travelers_type'].unique()

array([' Couple ', ' Family with young children ', ' Solo traveler ',
       ' Group ', ' Travelers with friends ',
       ' Family with older children '], dtype=object)

In [49]:
df['travelers_type'].isna().sum()

np.int64(0)

In [50]:
search_values2 = [' With a pet ']
df['pets_allowed'] = df['tags'].apply(
    lambda x: ', '.join([item for item in x if item in search_values2]) or 'no pet')
# ده علي اعتبار الregualtions  الخاصه بالفندق لانها لو مبتسمحش بوجود حيوانات مستحيل يكون في الاوبشن ده انما لو في سماح يبقي وجوده طبيعي

In [51]:
df['pets_allowed'].unique()

array(['no pet', ' With a pet '], dtype=object)

In [52]:
df['stayed_nights'] = df['tags'].apply(lambda x : x[-1])

In [53]:
df['stayed_nights'] = df['stayed_nights'].apply(lambda x: np.nan if x.strip() in['Submitted from a mobile device', 'Solo traveler', 'Couple',
                                      'Family with older children', 'Group', 'Family with young children'] else x )

In [54]:
df['stayed_nights'].isnull().sum()

# مش هينفع هيبوظ الداتا فمش هعتمد عليه هشيله

np.int64(307727)

In [55]:
df.drop('stayed_nights', axis=1 , inplace=True)

In [56]:
df.head()

,hotel_address,additional_number_of_scoring,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,...,reviewer_score,tags,lat,lng,review_year,review_month,review_season,reviewer_trip_type,travelers_type,pets_allowed
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,...,2.9,"[ Leisure trip , Couple , Duplex Double Room...",52.360576,4.915968,2017,August,Summer,Leisure trip,Couple,no pet
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,...,7.5,"[ Leisure trip , Couple , Duplex Double Room...",52.360576,4.915968,2017,August,Summer,Leisure trip,Couple,no pet
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,...,7.1,"[ Leisure trip , Family with young children ,...",52.360576,4.915968,2017,July,Summer,Leisure trip,Family with young children,no pet
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,...,3.8,"[ Leisure trip , Solo traveler , Duplex Doub...",52.360576,4.915968,2017,July,Summer,Leisure trip,Solo traveler,no pet
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,...,6.7,"[ Leisure trip , Couple , Suite , Stayed 2 ...",52.360576,4.915968,2017,July,Summer,Leisure trip,Couple,no pet

In [57]:
df.drop('tags' , axis=1 , inplace=True)

### average score rename

In [58]:
df = df.rename(columns={'average_score': 'average_hotel_score'})

In [59]:
df.head()

,hotel_address,additional_number_of_scoring,average_hotel_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,lat,lng,review_year,review_month,review_season,reviewer_trip_type,travelers_type,pets_allowed
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,52.360576,4.915968,2017,August,Summer,Leisure trip,Couple,no pet
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,52.360576,4.915968,2017,August,Summer,Leisure trip,Couple,no pet
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,52.360576,4.915968,2017,July,Summer,Leisure trip,Family with young children,no pet
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,52.360576,4.915968,2017,July,Summer,Leisure trip,Solo traveler,no pet
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,52.360576,4.915968,2017,July,Summer,Leisure trip,Couple,no pet

In [60]:
df[['review_total_negative_word_counts', 'reviewer_score']].corr()

,review_total_negative_word_counts,reviewer_score
review_total_negative_word_counts,1.000000,-0.382474
reviewer_score,-0.382474,1.000000

In [61]:
df[['review_total_positive_word_counts', 'reviewer_score']].corr()

,review_total_positive_word_counts,reviewer_score
review_total_positive_word_counts,1.0000,0.2208
reviewer_score,0.2208,1.0000

In [62]:
df.drop('negative_review' , axis=1 , inplace=True)

In [63]:
df.drop('positive_review' , axis=1 , inplace=True)

In [64]:
df

,hotel_address,additional_number_of_scoring,average_hotel_score,hotel_name,reviewer_nationality,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,lat,lng,review_year,review_month,review_season,reviewer_trip_type,travelers_type,pets_allowed
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Russia,397,1403,11,7,2.9,52.360576,4.915968,2017,August,Summer,Leisure trip,Couple,no pet
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Ireland,0,1403,105,7,7.5,52.360576,4.915968,2017,August,Summer,Leisure trip,Couple,no pet
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,Australia,42,1403,21,9,7.1,52.360576,4.915968,2017,July,Summer,Leisure trip,Family with young children,no pet
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,United Kingdom,210,1403,26,1,3.8,52.360576,4.915968,2017,July,Summer,Leisure trip,Solo traveler,no pet
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7.7,Hotel Arena,New Zealand,140,1403,8,3,6.7,52.360576,4.915968,2017,July,Summer,Leisure trip,Couple,no pet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8.1,Atlantis Hotel Vienna,Kuwait,14,2823,2,8,7.0,48.203745,16.335677,2015,August,Summer,Leisure trip,Family with older children,no pet
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8.1,Atlantis Hotel Vienna,Estonia,11,2823,11,12,5.8,48.203745,16.335677,2015,August,Summer,Leisure trip,Family with young children,no pet
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8.1,Atlantis Hotel Vienna,Egypt,19,2823,0,3,2.5,48.203745,16.335677,2015,August,Summer,Leisure trip,Family with older children,no pet
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8.1,Atlantis Hotel Vienna,Mexico,0,2823,25,3,8.8,48.203745,16.335677,2015,August,Summer,Leisure trip,Group,no pet
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8.1,Atlantis Hotel Vienna,Hungary,13,2823,6,1,8.3,48.203745,16.335677,2015,August,Summer,Leisure trip,Family with young children,no pet

### hotel_ adress & lat & long

In [65]:
df[['hotel_address' , 'lat' , 'lng']]

,hotel_address,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,52.360576,4.915968
...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,48.203745,16.335677

In [66]:
df1 = df[df['lat'].isna()]

In [67]:
df1['hotel_address'].unique()

array(['20 Rue De La Ga t 14th arr 75014 Paris France',
       '23 Rue Damr mont 18th arr 75018 Paris France',
       '4 rue de la P pini re 8th arr 75008 Paris France',
       'Bail n 4 6 Eixample 08010 Barcelona Spain',
       'Gr nentorgasse 30 09 Alsergrund 1090 Vienna Austria',
       'Hasenauerstra e 12 19 D bling 1190 Vienna Austria',
       'Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria',
       'Josefst dter Stra e 22 08 Josefstadt 1080 Vienna Austria',
       'Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria',
       'Paragonstra e 1 11 Simmering 1110 Vienna Austria',
       'Pau Clar s 122 Eixample 08009 Barcelona Spain',
       'Savoyenstra e 2 16 Ottakring 1160 Vienna Austria',
       'Sep lveda 180 Eixample 08011 Barcelona Spain',
       'Sieveringer Stra e 4 19 D bling 1190 Vienna Austria',
       'Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria',
       'W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria',
       'W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria'],
      dtype=object)

In [68]:
df1['hotel_address'].to_csv('hotel_address_error.csv')

In [69]:
df1['hotel_address'].unique()

array(['20 Rue De La Ga t 14th arr 75014 Paris France',
       '23 Rue Damr mont 18th arr 75018 Paris France',
       '4 rue de la P pini re 8th arr 75008 Paris France',
       'Bail n 4 6 Eixample 08010 Barcelona Spain',
       'Gr nentorgasse 30 09 Alsergrund 1090 Vienna Austria',
       'Hasenauerstra e 12 19 D bling 1190 Vienna Austria',
       'Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria',
       'Josefst dter Stra e 22 08 Josefstadt 1080 Vienna Austria',
       'Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria',
       'Paragonstra e 1 11 Simmering 1110 Vienna Austria',
       'Pau Clar s 122 Eixample 08009 Barcelona Spain',
       'Savoyenstra e 2 16 Ottakring 1160 Vienna Austria',
       'Sep lveda 180 Eixample 08011 Barcelona Spain',
       'Sieveringer Stra e 4 19 D bling 1190 Vienna Austria',
       'Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria',
       'W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria',
       'W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria'],
      dtype=object)

In [70]:

# -----------------------------
# 1. قراءة ملف الـ TXT بالعناوين المصححة
# -----------------------------
txt_path = "geocoding_errors_google_fixed.txt"  # غيّر الاسم حسب الملف عندك
with open(txt_path, "r", encoding="utf-8") as f:
    fixed_addresses = [line.strip() for line in f if line.strip()]

# -----------------------------
# 2. قائمة العناوين الأصلية (قبل التصحيح)
# يجب تعديلها لتطابق العناوين اللي عندك بالضبط
# -----------------------------
original_addresses = [
    '20 Rue De La Ga t 14th arr 75014 Paris France',
    '23 Rue Damr mont 18th arr 75018 Paris France',
    '4 rue de la P pini re 8th arr 75008 Paris France',
    'Bail n 4 6 Eixample 08010 Barcelona Spain',
    'Gr nentorgasse 30 09 Alsergrund 1090 Vienna Austria',
    'Hasenauerstra e 12 19 D bling 1190 Vienna Austria',
    'Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria',
    'Josefst dter Stra e 22 08 Josefstadt 1080 Vienna Austria',
    'Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria',
    'Paragonstra e 1 11 Simmering 1110 Vienna Austria',
    'Pau Clar s 122 Eixample 08009 Barcelona Spain',
    'Savoyenstra e 2 16 Ottakring 1160 Vienna Austria',
    'Sep lveda 180 Eixample 08011 Barcelona Spain',
    'Sieveringer Stra e 4 19 D bling 1190 Vienna Austria',
    'Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria',
    'W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria',
    'W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria'
]

# -----------------------------
# 3. إنشاء قاموس للربط بين الأصلي والمصحح
# -----------------------------
address_mapping = dict(zip(original_addresses, fixed_addresses))

# -----------------------------
# 5. استبدال العناوين
# إذا العنوان الأصلي مش موجود في القاموس، يترك كما هو
# -----------------------------
df['hotel_address'] = df['hotel_address'].apply(lambda x: address_mapping.get(x, x))

In [71]:
df1 = df[df['lat'].isna()]

In [72]:
df1['hotel_address'].unique()

array(['20 Rue De La Gaston, 14th arr, 75014 Paris, France',
       '23 Rue Damrémont, 18th arr, 75018 Paris, France',
       '4 Rue de la Pépinière, 8th arr, 75008 Paris, France',
       'Bail n 4, 6 Eixample, 08010 Barcelona, Spain',
       'Grüntentorgasse 30, 09 Alsergrund, 1090 Vienna, Austria',
       'Hasenauerstraße 12, 19 Döbling, 1190 Vienna, Austria',
       'Josefstädter Straße 10-12, 08 Josefstadt, 1080 Vienna, Austria',
       'Josefstädter Straße 22, 08 Josefstadt, 1080 Vienna, Austria',
       'Landstraßer Gürtel 5, 03 Landstraße, 1030 Vienna, Austria',
       'Paragonstraße 1, 11 Simmering, 1110 Vienna, Austria',
       'Pau Claris 122, Eixample, 08009 Barcelona, Spain',
       'Savoyenstraße 2, 16 Ottakring, 1160 Vienna, Austria',
       'Sepúlveda 180, Eixample, 08011 Barcelona, Spain',
       'Sieveringer Straße 4, 19 Döbling, 1190 Vienna, Austria',
       'Taborstraße 8A, 02 Leopoldstadt, 1020 Vienna, Austria',
       'Währinger Straße 12, 09 Alsergrund, 1090 Vienna, Austria',
       'Währinger Straße 33-35, 09 Alsergrund, 1090 Vienna, Austria'],
      dtype=object)

In [73]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm
import time

# ----------- إعداد الجيوكودر -------------
geolocator = Nominatim(user_agent="my_geo_app", timeout=10)

geocode = RateLimiter(
    geolocator.geocode,
    min_delay_seconds=1.5,
    max_retries=3,
    error_wait_seconds=3,
    swallow_exceptions=False
)

# ----------- Caching -------------
cache = {}
errors = []

def get_coords_cached(address):
    """
    ترجّع (lat, lng) للعنوان باستخدام Caching + RateLimiter
    """
    if pd.isnull(address):
        return (np.nan, np.nan)
    
    # لو العنوان موجود أصلاً في الكاش
    if address in cache:
        return cache[address]
    
    try:
        location = geocode(address)
        if location:
            coords = (location.latitude, location.longitude)
        else:
            coords = (np.nan, np.nan)
    except Exception as e:
        # تسجّل العنوان اللي فشل
        errors.append(f"{address} --> {str(e)}")
        coords = (np.nan, np.nan)
    
    # نخزن في الكاش
    cache[address] = coords
    return coords

# ----------- استهداف الصفوف اللي ناقصاها lat/lng -------------
mask = df['lat'].isna() | df['lng'].isna()
missing_addresses = df.loc[mask, 'hotel_address']

# Progress bar
tqdm.pandas(desc="Geocoding addresses")

# ----------- تطبيق الدالة على العناوين الناقصة فقط -------------
results = missing_addresses.progress_apply(
    lambda addr: pd.Series(get_coords_cached(addr))
)

# ----------- كتابة النتيجة في الداتا -------------
df.loc[mask, ['lat', 'lng']] = results.values

# ----------- حفظ الأخطاء لو موجودة -------------
if errors:
    with open("geocoding_errors.txt", "w", encoding="utf-8") as f:
        for err in errors:
            f.write(err + "\n")

Geocoding addresses: 100%|██████████| 3268/3268 [00:25<00:00, 130.14it/s]

In [74]:
df2= df[df['lat'].isna()]

In [75]:
df2['hotel_address'].unique()

array(['20 Rue De La Gaston, 14th arr, 75014 Paris, France',
       '23 Rue Damrémont, 18th arr, 75018 Paris, France',
       '4 Rue de la Pépinière, 8th arr, 75008 Paris, France',
       'Bail n 4, 6 Eixample, 08010 Barcelona, Spain',
       'Grüntentorgasse 30, 09 Alsergrund, 1090 Vienna, Austria',
       'Josefstädter Straße 10-12, 08 Josefstadt, 1080 Vienna, Austria',
       'Josefstädter Straße 22, 08 Josefstadt, 1080 Vienna, Austria',
       'Landstraßer Gürtel 5, 03 Landstraße, 1030 Vienna, Austria',
       'Taborstraße 8A, 02 Leopoldstadt, 1020 Vienna, Austria',
       'Währinger Straße 12, 09 Alsergrund, 1090 Vienna, Austria',
       'Währinger Straße 33-35, 09 Alsergrund, 1090 Vienna, Austria'],
      dtype=object)

In [76]:
df2['hotel_name'].unique()

array(['Mercure Paris Gare Montparnasse', 'Holiday Inn Paris Montmartre',
       'Maison Albar Hotel Paris Op ra Diamond',
       'NH Collection Barcelona Podium', 'City Hotel Deutschmeister',
       'Fleming s Selection Hotel Wien City', 'Cordial Theaterhotel Wien',
       'Hotel Daniel Vienna', 'Hotel City Central',
       'Hotel Pension Baron am Schottentor', 'Hotel Atlanta'],
      dtype=object)

In [77]:
df[df['hotel_name'] ==   'Mercure Paris Gare Montparnasse'].head()
# اخر اوتيلين ليهم نفس العنوان

,hotel_address,additional_number_of_scoring,average_hotel_score,hotel_name,reviewer_nationality,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,lat,lng,review_year,review_month,review_season,reviewer_trip_type,travelers_type,pets_allowed
99488,"20 Rue De La Gaston, 14th arr, 75014 Paris, Fr...",22,7.8,Mercure Paris Gare Montparnasse,Australia,0,377,25,6,10.0,NaN,NaN,2017,August,Summer,Leisure trip,Couple,no pet
99489,"20 Rue De La Gaston, 14th arr, 75014 Paris, Fr...",22,7.8,Mercure Paris Gare Montparnasse,United Kingdom,12,377,45,1,6.7,NaN,NaN,2017,August,Summer,Leisure trip,Couple,no pet
99490,"20 Rue De La Gaston, 14th arr, 75014 Paris, Fr...",22,7.8,Mercure Paris Gare Montparnasse,United States of America,43,377,5,1,5.4,NaN,NaN,2017,July,Summer,Leisure trip,Solo traveler,no pet
99491,"20 Rue De La Gaston, 14th arr, 75014 Paris, Fr...",22,7.8,Mercure Paris Gare Montparnasse,Australia,54,377,0,13,8.3,NaN,NaN,2017,June,Summer,Leisure trip,Couple,no pet
99492,"20 Rue De La Gaston, 14th arr, 75014 Paris, Fr...",22,7.8,Mercure Paris Gare Montparnasse,United States of America,83,377,11,2,5.8,NaN,NaN,2017,May,Spring,Leisure trip,Couple,no pet

In [78]:
# بإستخدام chat gpt  بحثت علي كل الفنادق الي عناوينها فيها مشكله و طلعت عناوينها الحقيقيه من علي مواقع موثوقه و عملتلها ملف txt  عشان اقدر احطها مكان العناوين المسجله في الداتا الي فيها مشكله بما فيها العنوان المتكرر لاوتيلين مختلفين

In [79]:

txt_path = "geocoding_fixed_2.txt"  # غيّر الاسم حسب الملف عندك
with open(txt_path, "r", encoding="utf-8") as f:
    fixed_addresses = [line.strip() for line in f if line.strip()]

# -----------------------------
# 2. قائمة العناوين الأصلية (قبل التصحيح)
# يجب تعديلها لتطابق العناوين اللي عندك بالضبط
# -----------------------------
original_addresses = [
    '20 Rue De La Gaston, 14th arr, 75014 Paris, France',
    '23 Rue Damrémont, 18th arr, 75018 Paris, France',
       '4 Rue de la Pépinière, 8th arr, 75008 Paris, France',
       'Bail n 4, 6 Eixample, 08010 Barcelona, Spain',
       'Grüntentorgasse 30, 09 Alsergrund, 1090 Vienna, Austria',
       'Josefstädter Straße 10-12, 08 Josefstadt, 1080 Vienna, Austria',
       'Josefstädter Straße 22, 08 Josefstadt, 1080 Vienna, Austria',
       'Landstraßer Gürtel 5, 03 Landstraße, 1030 Vienna, Austria',
       'Taborstraße 8A, 02 Leopoldstadt, 1020 Vienna, Austria',
       'Währinger Straße 12, 09 Alsergrund, 1090 Vienna, Austria',
       'Währinger Straße 33-35, 09 Alsergrund, 1090 Vienna, Austria'
]

# -----------------------------
# 3. إنشاء قاموس للربط بين الأصلي والمصحح
# -----------------------------
address_mapping = dict(zip(original_addresses, fixed_addresses))

# -----------------------------
# 5. استبدال العناوين
# إذا العنوان الأصلي مش موجود في القاموس، يترك كما هو
# -----------------------------
df['hotel_address'] = df['hotel_address'].apply(lambda x: address_mapping.get(x, x))

In [80]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm
import time

# ----------- إعداد الجيوكودر -------------
geolocator = Nominatim(user_agent="my_geo_app", timeout=10)

geocode = RateLimiter(
    geolocator.geocode,
    min_delay_seconds=1.5,
    max_retries=3,
    error_wait_seconds=3,
    swallow_exceptions=False
)

# ----------- Caching -------------
cache = {}
errors = []

def get_coords_cached(address):
    """
    ترجّع (lat, lng) للعنوان باستخدام Caching + RateLimiter
    """
    if pd.isnull(address):
        return (np.nan, np.nan)
    
    # لو العنوان موجود أصلاً في الكاش
    if address in cache:
        return cache[address]
    
    try:
        location = geocode(address)
        if location:
            coords = (location.latitude, location.longitude)
        else:
            coords = (np.nan, np.nan)
    except Exception as e:
        # تسجّل العنوان اللي فشل
        errors.append(f"{address} --> {str(e)}")
        coords = (np.nan, np.nan)
    
    # نخزن في الكاش
    cache[address] = coords
    return coords

# ----------- استهداف الصفوف اللي ناقصاها lat/lng -------------
mask = df['lat'].isna() | df['lng'].isna()
missing_addresses = df.loc[mask, 'hotel_address']

# Progress bar
tqdm.pandas(desc="Geocoding addresses")

# ----------- تطبيق الدالة على العناوين الناقصة فقط -------------
results = missing_addresses.progress_apply(
    lambda addr: pd.Series(get_coords_cached(addr))
)

# ----------- كتابة النتيجة في الداتا -------------
df.loc[mask, ['lat', 'lng']] = results.values

# ----------- حفظ الأخطاء لو موجودة -------------
if errors:
    with open("geocoding_errors.txt", "w", encoding="utf-8") as f:
        for err in errors:
            f.write(err + "\n")

Geocoding addresses: 100%|██████████| 2756/2756 [00:15<00:00, 175.32it/s]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   average_hotel_score                         515738 non-null  float64
 3   hotel_name                                  515738 non-null  object
 4   reviewer_nationality                        515738 non-null  object
 5   review_total_negative_word_counts           515738 non-null  int64
 6   total_number_of_reviews                     515738 non-null  int64
 7   review_total_positive_word_counts           515738 non-null  int64
 8   total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 9   reviewer_score                              515738 non-null  float64
 10  lat                                         515738 non-null  float64
 11  lng                                         515738 non-null  float64
 12  review_year                                 515738 non-null  int32
 13  review_month                                515738 non-null  object
 14  review_season                               515738 non-null  object
 15  reviewer_trip_type                          515738 non-null  object
 16  travelers_type                              515738 non-null  object
 17  pets_allowed                                515738 non-null  object
dtypes: float64(4), int32(1), int64(5), object(8)
memory usage: 68.9+ MB

# final csv file

In [82]:
df.to_csv('hotel_review_final.csv' , index=False)